*{
    margin: 0;
    padding: 0;
}
body{
   background-color: rgb(180, 147, 211);
}
.box{
    position: relative;
    top: 60px;
    height: 620px;
    width: 620px;
    border-radius: 30px;
    background-color:skyblue;
    margin: 0 auto;

}
.nav{
    height: 40px;
    background-color: rgb(87, 79, 79);
}
.card{
    border-radius: 30px;
    width: 290px;
    height: 290px;
    float: left;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.card:hover{
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,.5);
}
#workspace{
    padding: 8px;
    float: right;
    color: gray;
    text-decoration: none;
}
#workspace .image{
    display: none;
    
}
#workspace:hover{
    color: #fff;
}
#workspace:hover .image{
    display: block;
}
#login{
    padding: 8px;
    float: right;
    color: gray;
    text-decoration: none;
}
#login:hover{
    color:#fff; 
}
#info{
    padding: 8px;
    float: right;
    color: gray;
    text-decoration: none;
}
#info:hover{
    color:#fff; 
}
.img{
    margin: 50px;
}
.header{
    float: left;
    padding: 8px;
}
.a{
    text-decoration: none;
    color: black;
}